{% extends "base/base.html.twig" %}

{# Beginning of Page Header #}
{% block pageTitle %}
Oral Chemotherapy - University of Alberta | Improving drug dosing and use
{% endblock pageTitle %}

{% block pageStylesheets %}
<link href="/css/live_global.css" rel="stylesheet">
<link href="/css/live_drugs.css" rel="stylesheet">
{% endblock pageStylesheets %}

{# Beginning of Page Content #}
{% block drugsActive %}
class="active"
{% endblock drugsActive %}

{% block content %}
<div>
    <h1 class="page-header">View - {{ drug_name }}</h1>
    <table class="table table-striped">
        <tbody>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Common Name: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        {{ drug_name }}
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Trade Name: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        trade_name
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Risk: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        risk
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Classification: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        <table class="table table-bordered">
                            <tbody>
                                <tr><td>Classification 1</td></tr>
                                <tr><td>Classification 2</td></tr>
                                <tr><td>Classification 3</td></tr>
                            </tbody>
                        </table>
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Contraindications: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        <table class="table table-bordered">
                            <tbody>
                                <tr><td>Contraindication 1</td></tr>
                                <tr><td>Contraindication 2</td></tr>
                                <tr><td>Contraindication 3</td></tr>
                            </tbody>
                        </table>
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Oncology Uses: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td><strong>Use</strong></td>
                                    <td><strong>Approved</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Usage 1</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>Usage 2</td>
                                    <td>No</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Precautions: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td><strong>Label</strong></td>
                                    <td><strong>Precaution</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Label 1</td>
                                    <td>Precaution 1</td>
                                </tr>
                                <tr>
                                    <td>Label 2</td>
                                    <td>Precaution 2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Breastfeeding: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        Something
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Fertility: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        Something
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Metabolism: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        Something
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Usual Oral Dose: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        1,000,000
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Excretion: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        Something
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Available: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        Pills
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Administration: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        Something
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Monitoring: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        Something
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Side Effect Frequency: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        Something
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Side Effects: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td><strong>Effect</strong></td>
                                    <td><strong>Severity</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Effect 1</td>
                                    <td>Severity 1</td>
                                </tr>
                                <tr>
                                    <td>Effect 2</td>
                                    <td>Severity 2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Interactions: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td><strong>Effect</strong></td>
                                    <td><strong>Interaction</strong></td>
                                    <td><strong>CYP Type</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Avoid Concomitant Use</td>
                                    <td>Avoid estrogen</td>
                                    <td> - </td>
                                </tr>
                                <tr>
                                    <td><span class="glyphicon glyphicon-arrow-up"></span> Effect (this drug)</td>
                                    <td>CYP 450 2A6</td>
                                    <td>Inducer</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Other Effects: </h4>
                    </div>
                    <div class="col-md-4 table-item">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Other 1</td>
                                </tr>
                                <tr>
                                    <td>Other 2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td></tr>
            <tr><td>
                    <div class="col-md-2">
                        <h4>Dose Adjustments: </h4>
                    </div>
                    <div class="col-md-6 table-item">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td><strong>Name</strong></td>
                                    <td><strong>Adjustment</strong></td>
                                    <td><strong>Adjustment Chart</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Name 1</td>
                                    <td>Adjustment 1</td>
                                    <td> - </td>
                                </tr>
                                <tr>
                                    <td>Name 2</td>
                                    <td>Adjustment 2</td>
                                    <td><img src="http://i.imgur.com/l8cSq.gif"></img></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td></tr>
        </tbody>
    </table>
</div>
{% endblock content %}
