{% extends "base/html.twig" %}

{# Head Tag Elements Start #}
{% block pageTitle %}
AntiC | {% block title %}{% endblock title %}
{% endblock pageTitle %}


{# Body Tag Elements Start #}
{% block pageHeader %}
<div class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-xs"></div> 
        </div>
    </div>
</div>
<div <div class="navbar" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse navbar-inverse">
            <ul class="nav navbar-nav">
                <li {% block homeActive %}{% endblock homeActive %}><a href="/">Home</a>
                </li>
                <li {% block drugsActive %}{% endblock drugsActive %}><a href="/drugs">Drugs</a>
                </li>
                <li {% block interactionsActive %}{% endblock interactionsActive %}><a href="/interactions">Interactions</a>
                </li>
                <li {% block aboutActive %}{% endblock aboutActive %}><a href="/about">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('user.login') }}">Admin Console</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
{% endblock pageHeader %}

{% block pageContent %}
    <div class="container" style="padding-bottom:40px; background-color:#f2f2f2">
    {% block content %}{% endblock content %}
    </div>
{% endblock pageContent %}

{% block pageFooter %}
<div class="footer">
	{% block footer %}{% endblock footer %}
</div>
{% endblock pageFooter %}
