{% extends "base/authenticated.base.html.twig" %}

{# Beginning of Page Header #}
{% block title %}
Edit - {{ interaction_name }}
{% endblock title %}

{% block pageStylesheets %}
    <link href="/css/global.css" rel="stylesheet">
    <link href="/css/interactions.css" rel="stylesheet">
{% endblock pageStylesheets %}

{# Beginning of Page Content #}
{% block interactionsActive %}
class="active"
{% endblock interactionsActive %}


{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Edit - {{ interaction_name }}</h1>

        <form role="form">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Substrate</h3>
                    <div class="row" style="margin-bottom:5px;">
                        <div class="col-sm-8">
                            <input class="form-control" placeholder="e.g. Acetaminophen" id="substrate" type="text">
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" id="risk-level">
                                <option>Low</option>
                                <option>Moderate</option>
                                <option>High</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:5px;">
                        <div class="col-sm-8">
                            <input class="form-control" placeholder="e.g. Acetaminophen" id="substrate" type="text">
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" id="risk-level">
                                <option>Low</option>
                                <option>Moderate</option>
                                <option>High</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:5px;">
                        <div class="col-sm-8">
                            <input class="form-control" placeholder="e.g. Acetaminophen" id="substrate" type="text">
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" id="risk-level">
                                <option>Low</option>
                                <option>Moderate</option>
                                <option>High</option>
                            </select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-xs add-more"><span class="glyphicon glyphicon-plus-sign"></span> Add More</button>
                </div>
                <div class="col-sm-4">
                    <h3>Inhibitor</h3>
                    <div class="row" style="margin-bottom:5px;">
                        <div class="col-sm-8">
                            <input class="form-control" placeholder="e.g. Amiodarone" id="inhibitor" type="text">
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" id="risk-level">
                                <option>Low</option>
                                <option>Moderate</option>
                                <option>High</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:5px;">
                        <div class="col-sm-8">
                            <input class="form-control" placeholder="e.g. Amiodarone" id="inhibitor" type="text">
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" id="risk-level">
                                <option>Low</option>
                                <option>Moderate</option>
                                <option>High</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:5px;">
                        <div class="col-sm-8">
                            <input class="form-control" placeholder="e.g. Amiodarone" id="inhibitor" type="text">
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" id="risk-level">
                                <option>Low</option>
                                <option>Moderate</option>
                                <option>High</option>
                            </select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-xs add-more"><span class="glyphicon glyphicon-plus-sign"></span> Add More</button>
                </div>
                <div class="col-sm-4">
                    <h3>Inducer</h3>
                    <div class="row" style="margin-bottom:5px;">
                        <div class="col-sm-8">
                            <input class="form-control" placeholder="e.g. Aminogluthethimide" id="inducer" type="text">
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" id="risk-level">
                                <option>Low</option>
                                <option>Moderate</option>
                                <option>High</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:5px;">
                        <div class="col-sm-8">
                            <input class="form-control" placeholder="e.g. Aminogluthethimide" id="inducer" type="text">
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" id="risk-level">
                                <option>Low</option>
                                <option>Moderate</option>
                                <option>High</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:5px;">
                        <div class="col-sm-8">
                            <input class="form-control" placeholder="e.g. Aminogluthethimide" id="inducer" type="text">
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" id="risk-level">
                                <option>Low</option>
                                <option>Moderate</option>
                                <option>High</option>
                            </select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-xs add-more"><span class="glyphicon glyphicon-plus-sign"></span> Add More</button>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top:50px;">Save</button>
        </form>
    </div>
{% endblock content %}