{% extends "base/authenticated.base.html.twig" %}

{# Beginning of Page Header #}
{% block title %}
Manage About
{% endblock title %}

{% block pageStylesheets %}
    <link href="/css/global.css" rel="stylesheet">
    <link href="/css/about.css" rel="stylesheet">
{% endblock pageStylesheets %}

{# Beginning of Page Content #}
{% block aboutActive %}
class="active"
{% endblock aboutActive %}


{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">About</h1>

        {# What is going here? #}
        <div class="well">
            For once there was a man. Who lived in a shoe. He was unsure where his shoe went.<br>And thus, he did not know what is going on here.
        </div>
    </div>
{% endblock content %}