{% extends "base/authenticated.base.html.twig" %}

{# Beginning of Page Header #}
{% block title %}
Edit - {{ protocol_name }}
{% endblock title %}

{% block pageStylesheets %}
    <link href="/css/global.css" rel="stylesheet">
    <link href="/css/protocols.css" rel="stylesheet">
{% endblock pageStylesheets %}

{# Beginning of Page Content #}
{% block protocolsActive %}
class="active"
{% endblock protocolsActive %}


{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Edit - {{ protocol_name }}</h1>

        <div class="well">
            Awaiting confirmation before starting this page.
        </div>
    </div>
{% endblock content %}