/**
 * Liveview Global Stylesheet
 **/

@font-face {
  font-family: "OpenSans";
  src: url(/font/OpenSans-Regular.ttf) format("truetype");
}
html *
{
   font-family: OpenSans !important;
}
h1
{
    color: #3388CC;
    font-size: 24px;
}
body {
    background-image:url('/img/bridge_blurred.jpg');
    background-size: cover;
    background-attachment:fixed;
    
}
.container {
    background-color: #3388CC; 
    padding:25px; 
    padding-left:40px;
    padding-right:40px;
    border-left-color: #2A44A1;
    border-left-width: 5px;
    border-left-style:ridge;
    border-right-color: #2A44A1;
    border-right-width: 5px;
    border-right-style:ridge;
}
.navbar {
    padding-top: 10px;
}
.hyperspan {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.btnSetWidth {
    width:75px;
}


