/**
 * Liveview Global Stylesheet
 **/
.masthead {
   background-image: url("/img/logo_small.png");
   height: 98px;
   background-repeat:no-repeat;
}

body {
    padding-top: 10px;
}

.navbar {
    padding-top: 10px;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.btnSetWidth {
    width:75px;
}


