{% extends "base/base.html.twig" %}

{# Beginning of Page Header #}
{% block pageTitle %}
Oral Chemotherapy - University of Alberta | Improving drug dosing and use
{% endblock pageTitle %}

{% block pageStylesheets %}
<link href="/css/live_global.css" rel="stylesheet">
<link href="/css/live_interactions.css" rel="stylesheet">
{% endblock pageStylesheets %}

{# Beginning of Page Content #}
{% block interactionsActive %}
class="active"
{% endblock interactionsActive %}

{% block content %}
<div class="col-sm-10">
    <h1 class="page-header">View - {{ interaction_name }}</h1>

    <form role="form" action="{{ path('console.interactions.edit', {'ID':interaction_name}) }}">
        <div class="row">
            <div class="col-sm-4" style="border-right: 1px solid #eee;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>
                                <div class="col-sm-8">
                                    <h4>Substrate</h4>
                                </div>
                                <div class="col-sm-4">
                                    <h4>Effect</h4>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>
                                <div class="col-sm-8">
                                    Substrate 1
                                </div>
                                <div class="col-sm-4">
                                    Low
                                </div>
                            </td></tr>
                        <tr><td>
                                <div class="col-sm-8">
                                    Substrate 2
                                </div>
                                <div class="col-sm-4">
                                    Moderate
                                </div>
                            </td></tr>
                        <tr><td>
                                <div class="col-sm-8">
                                    Substrate 3
                                </div>
                                <div class="col-sm-4">
                                    High
                                </div>
                            </td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4" style="border-right: 1px solid #eee;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>
                                <div class="col-sm-8">
                                    <h4>Inhibitor</h4>
                                </div>
                                <div class="col-sm-4">
                                    <h4>Effect</h4>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>
                                <div class="col-sm-8">
                                    Inhibitor 1
                                </div>
                                <div class="col-sm-4">
                                    Low
                                </div>
                            </td></tr>
                        <tr><td>
                                <div class="col-sm-8">
                                    Inhibitor 2
                                </div>
                                <div class="col-sm-4">
                                    Moderate
                                </div>
                            </td></tr>
                        <tr><td>
                                <div class="col-sm-8">
                                    Inhibitor 3
                                </div>
                                <div class="col-sm-4">
                                    High
                                </div>
                            </td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4" style="border-right: 1px solid #eee;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>
                                <div class="col-sm-8">
                                    <h4>Inducer</h4>
                                </div>
                                <div class="col-sm-4">
                                    <h4>Effect</h4>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>
                                <div class="col-sm-8">
                                    Inducer 1
                                </div>
                                <div class="col-sm-4">
                                    Low
                                </div>
                            </td></tr>
                        <tr><td>
                                <div class="col-sm-8">
                                    Inducer 2
                                </div>
                                <div class="col-sm-4">
                                    Moderate
                                </div>
                            </td></tr>
                        <tr><td>
                                <div class="col-sm-8">
                                    Inducer 3
                                </div>
                                <div class="col-sm-4">
                                    High
                                </div>
                            </td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
